<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <property name="LOG_PATH" value="logs" />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <!--<layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-20(%d{yyyy-MM-dd yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80} -%msg%n</pattern>
        </layout>-->
        <encoder>
            <pattern>%-20(%d{yyyy-MM-dd yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80} -%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="application-service"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/application-service.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/application-service.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <!--<layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80}-%msg%n</pattern>
        </layout>-->
        <encoder>
            <pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80}-%msg%n</pattern>
        </encoder>
        <append>true</append>
    </appender>

    <appender name="application-error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/application-error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/application-error.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <!--<layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80}-%msg%n</pattern>
        </layout>-->
        <encoder>
            <pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80}-%msg%n</pattern>
        </encoder>
        <append>true</append>
    </appender>

    <logger name="com.xiaoyang.kafka" level="INFO" additivity="false">
        <appender-ref ref="application-service" />
        <appender-ref ref="application-error" />
    </logger>

    <root level="INFO">
        <appender-ref ref="stdout" />
    </root>
</configuration>